<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>space website</title>
</head>
<body>
    <h1>welcome to the space website</h1>
    <h2>login or signup to start viewing...</h2>
<div>

    <div>
        <form action="/login" method="get">
            <button type="submit" name="login">login</button>
        </form>

    </div>
    <div>
        
        <form action="/signup" method="get">
            <button type="submit" name="signup">signup</button>
        </form>
    </div>
   
</div>


</body>
</html>